<%# ejs works similar to html but with sophistication such as templating, use of scriptlets and layouts %>

<%- include("header"); -%>

<div class="box" id="heading">
  <h1><%=listHeading%></h1>
</div>

<div class="box">

  <!-- ejs scriptlet usage below-->

  <% for(var i=0; i<toDoList.length; i++) {%>
  <form action="/delete" method="post">
    <div class="item">
      <!--cool stuff below  -->
      <input type="checkbox" name="checkbox" value="<%=toDoList[i]._id%>" onChange="this.form.submit()">
      <p><%=toDoList[i].name%></p>
      <input type="hidden" name="listHeading" value="<%= listHeading %>"></input>
    </div>
  </form>

  <% } %>
  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="new task" autocomplete="off">
    <button type="submit" name="listHeading" value="<%=listHeading%>">+</button>

  </form>
</div>

<%- include("footer"); -%>
